/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Post-reset */

html,
body {
  font-family: 'NotoSans', sans-serif;
  color: rgb(206, 206, 206);
  overflow-x: hidden;

  background-image: url("./img/default-thumbnail.png");
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  min-height: 100vh;
  background-image: url("./img/bg_main.png");
  background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}

.sub-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.flex-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.menu-pane {
  border-image-source: url("./img/border_transparent.png");
  border-style: solid;
  border-width: 20px;
  border-image-slice: 47 fill;
  border-image-repeat: stretch;
  padding: 1rem;
}

.container {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 5rem;
  position: relative;
  max-width: 95vw;
}

.logo {
  max-width: 95vw;
}

.banner {
  position: absolute;
  transform-origin: center;
  width: 50%;
  height: auto;
  right: -100px;
  top: -50%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
}

.inputfile:focus+label,
.inputfile+label {
  padding: 1rem 5rem;
}

.inputfile+label {
  cursor: pointer;
}

.button {
  background-image: url("./img/button.png");
  background-size: 100% 100%;
}

.button:hover {
  background-image: url("./img/button-hover.png");
  color: black;
}

.bold {
  font-weight: bold;
}

.list {
  line-height: 1.2rem;
}

i {
  font-style: italic;
}

.svgObject {
  width: 3rem;
}

.svgObject path {
  transition: fill 0.3s ease;
}

.svgObject:hover path {
  fill: #5865f2;
}

.disclaimer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: small;
}

.disclaimer h1 {
  font-weight: bold;
  font-size: medium;
}

.loader-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 44, 31);
}